<style>
	body{ background-color:#fff; width: 100%;  }
	*{ padding: 0; margin:0; outline: none; }
	#photo{  height: 300px; width: 100%;   float: left; }
	header{ float: left; width: 100%; }
	#logo img{ width: 35px; height: 35px; }
	#logo{ font-size: 25px; padding: 10px 5px 10px 5px; font-family: 'Pacifico'; float: left;}
	#block{ float: left;  padding: 20px 0px 16px 0px; border-bottom: 3px solid rgba(255,255,255,0); font-family: 'Cormorant Garamond', serif; font-size: 25px; -webkit-transition:border-bottom.6s ease;
	-o-transition:border-bottom.6s ease;
	-ms-transition:border-bottom.6s ease;
	-moz-transition:border-bottom.6s ease;
	 margin-left:2%;}
	#block:hover{
		border-bottom:3px solid #03a9f4;
	}
	header a{ color:#000; }
	a{ text-decoration: none; }
	#content{ width: 100%; float: left;  padding:0px 0px 70px 0px;  background-color: #fff; color:#000;   }
	#social{ width:930px;  margin-top: 10px; }
	#social #h1{  font-family: 'Cormorant Garamond';  }
	#social #span{ font-family: 'Cormorant Garamond'; }
	#social #soc_block{ width: 300px; float: left; margin-left: 10px; margin-top: 50px;		 }
	#social #soc_block img{ margin-top: 10px; }
	#social #soc_block p{ font-family:'Cormorant Garamond';  font-size: 20px; }
	#help { width: 100%; float: left; background-color: #1d2733;	color:#fff;
		-webkit-box-shadow:0px 0px 25px #000; margin-top: 10px;
	}
	#about_site { width: 800px;  margin-top: 50px; 	}
	#about_site p{ font-size: 50px; font-family:'Underdog';}
	#what{ width: 360px; float: left; margin-left: 20px; margin-top: 50px;}
	#what img{ width: 180px;  }
	#wrapper { width: 100%; float: left;  }
	#text{ width:700px;  }
	#text p{ font-size: 50px; padding: 10px 10px 30px 10px; font-family: 'Poiret One'}
	#text span{ font-size: 30px; font-family: 'Cormorant Garamond'; }
	#button { padding:10px 20px 10px 20px; font-size: 30px; margin-top: 10px; font-family:'Cormorant Garamond'; background-color:#4caf50; border-bottom:4px solid #469849; color:#fff; border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; cursor: pointer;  -webkit-transition:background-color.5s ease; -o-transition:background-color.5s ease; -ms-transition:background-color.5s ease; -moz-transition:background-color.5s ease;}
	#button:hover{
		background-color:#54c159;
	}
</style>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Underdog" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<header>
	<a href="/home"><div id="logo"><img src="https://cdn1.iconfinder.com/data/icons/nuvola2/128x128/apps/kteatime.png" rel="shortcut icon">TeaTime</div></a>
	<a href="/about" target="_Blank"><div id="block">Обо мне</div></a>
	<a href="/help" target="_Blank"><div id="block">Помощь по сайту</div></a>
	<a href="http://habrahabr.com" target="_Blank"><div id="block">Я на Habrahabr</div></a>
	<a href="http://github.com" target="_Blank"><div id="block">Я на GitHub</div>
	<a href="http://rusrails.ru" target="_Blank"><div id="block">Отличный документарий для RoR</div></a>
</header>
<div id="photo"><%= image_tag("123.png") %></div>
<div id="content">
	<center><div id="social">
	<h1 id="span">TeaTime - это</h1>
	<div id="soc_block">
		<p>Информация</p>
	<img src="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-share-128.png"></div>
	<div id="soc_block"><p>Общение</p><img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/chat-128.png"></div>
	<div id="soc_block"><p>Время</p><img src="https://cdn4.iconfinder.com/data/icons/stash/128/hourglass-128.png"></div>
	<div id="soc_block">
		<p>Игры</p>
	<img src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/joypad.png"></div>
	<div id="soc_block"><p>Друзья</p><img src="https://cdn2.iconfinder.com/data/icons/pictograms-vol-1/400/humans-128.png"></div>
	<div id="soc_block"><p>Музыка</p><img src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/keyboards.png"></div>
	</div></center>
</div>
	<div id="wrapper">
		<center><div id="text"><p>Но всё-же,что такое TeaTime?</p>
			<span>Цель этого сайта общение с людьми.Здесь можно найти много чего интересногог,и я вас уверяю время вы здесь проведёте в радость ведь вы найдёте себе кучу друзей!Кроме того сайт будет постоянно улучшаться.Кто знает может этот проект успешно реализуется.Но это всё разговоры.Так что,я думаю хватит разговаривать и можешь переходить к регистрации!</span><a href="/regsiter">
				<br><button id="button">Регистрация</button>
			</a>
		</div></center>
	</div>
	<div id="help">
		<center><div id="about_site">
			<p>Создан с помощью</p>
			<div id="what">
				<%= image_tag("heroku.png") %>
			</div>
			<div id="what">
				<%= image_tag("rails.png") %>
			</div>
		</div></center>
	</div>
