<style>

</style>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Underdog" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<header>
	<a href="/home"><div id="logo"><img src="https://cdn1.iconfinder.com/data/icons/nuvola2/128x128/apps/kteatime.png" rel="shortcut icon">TeaTime</div></a>
	<a href="/about" target="_Blank"><div id="block">Обо мне</div></a>
	<a href="/help" target="_Blank"><div id="block">Помощь по сайту</div></a>
	<a href="http://habrahabr.com" target="_Blank"><div id="block">Я на Habrahabr</div></a>
	<a href="http://github.com" target="_Blank"><div id="block">Я на GitHub</div>
	<a href="http://rusrails.ru" target="_Blank"><div id="block">Отличный документарий для RoR</div></a>
</header>
<div id="photo"></div>
<div id="content">
	<center><div id="social">
	<h1 id="span">TeaTime - это</h1>
	<div id="soc_block">
		<p>Информация</p>
	<img src="https://cdn3.iconfinder.com/data/icons/social-media-circle/512/circle-share-128.png"></div>
	<div id="soc_block"><p>Общение</p><img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/chat-128.png"></div>
	<div id="soc_block"><p>Время</p><img src="https://cdn4.iconfinder.com/data/icons/stash/128/hourglass-128.png"></div>
	<div id="soc_block">
		<p>Игры</p>
	<img src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/joypad.png"></div>
	<div id="soc_block"><p>Друзья</p><img src="https://cdn2.iconfinder.com/data/icons/pictograms-vol-1/400/humans-128.png"></div>
	<div id="soc_block"><p>Музыка</p><img src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/keyboards.png"></div>
	</div></center>
</div>
	<div id="wrapper">
		<center><div id="text"><p>Но всё-же,что такое TeaTime?</p>
			<span>Цель этого сайта общение с людьми.Здесь можно найти много чего интересногог,и я вас уверяю время вы здесь проведёте в радость ведь вы найдёте себе кучу друзей!Кроме того сайт будет постоянно улучшаться.Кто знает может этот проект успешно реализуется.Но это всё разговоры.Так что,я думаю хватит разговаривать и можешь переходить к регистрации!</span><a href="/regisiter">
				<br><button id="button">Регистрация</button>
			</a>
		</div></center>
	</div>
	<div id="help">
	<center><div id="links">
	<img src="https://cdn3.iconfinder.com/data/icons/developperss/PNG/Grey%20Ball.png">
	<a href="http://vk.com/yazdez11111" target="_Blank">Создатель</a>
	<a href="http://twitch.tv/grafug" target="_Blank">Отличные стримы</a>
	<a href="http://heroku.com" target="_Blank">Отличный хостинг</a>
	<a href="http://tproger.ru" target="_Blank">"Контора" программистов</a>
	   <img src="https://cdn3.iconfinder.com/data/icons/developperss/PNG/Grey%20Ball.png">
	</div></center>
		<center><div id="about_site">
			<p><a href="/home">TeaTime</a></p>
		</center>
		<center><div id="thanks">
					 <%= image_tag("rails.png") %>
					 <%= image_tag("heroku.png") %>
					 <img src="https://cdn2.iconfinder.com/data/icons/iconfinder-logo/69/eye_black-256.png">
			</div></center>
	</div>
