<header>
	<center><a href="/about"><div id="block">
		Обо мне
	</div></a>
	<a href="http://rusrails.ru"><div id="block">
		Отличная документация для Ruby on Rails
	</div></a>
	<a href="/about"><div id="block">
		Помощь по сайту
	</div></a>
	<a href="http://habrahabr.com"><div id="block">
		Я на Habrahabr
	</div></a>
	<a href="http://github.com"><div id="block">
		Я на Github
	</div></a></center>
</header>
<div id="hide">
	<style>
		@font-face{
			src:url('sans_bold.otf');
			font-family: 'sans'
		}
		*{ padding:0; margin:0; outline:none;  }
		#hide{
			display: none;
		}
		header{  float: left; width: 100%;   }
		a{ text-decoration: none;  }
		header a{ font-family: 'sans'; color:#000; }
		#block{ float: left; padding: 1% 2% 1% 2%;  }
	</style>
</div>

