<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<h1>REGISTER</h1>
<script>
	$('hmtl,body').css("background-image","url('bg-5a7636756afbd2c9be03d29229afbc361a6887c1e49ef59aeee476334a174830.jpg')");
	$('html,body').css('background-size','cover');
	$('html,body').css('background-position','center center');
	$('html,body').css('background-attachment','fixed');
</script>