<!DOCTYPE html>
<html>
  <head>
    <title>T3aTime</title>
    <%= csrf_meta_tags %>

    <link href="/assets/stylesheets/blog/style.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
