<!DOCTYPE html>
<html>
  <head>
    <title>T3aTime</title>
    <%= csrf_meta_tags %> 
    <link href="https://cdn1.iconfinder.com/data/icons/nuvola2/128x128/apps/kteatime.png" rel="shortcut icon" type="image/png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
